<h2>Available drones</h2>
<div class="row">
    {{#each drones}}
    <h3>name: {{this.name}}</h3>
    <p>propellers: {{this.propellers}}</p>
    <p>maxSpeed: {{this.maxSpeed}}</p>
    {{/each}}
</div>